* {
    background-color: #353843;
}

h2 {
    display: flex;
    gap: 16px;
    color: #fff;
    text-align: left;
    display: flex;
    font-family: 'Work Sans';
    justify-content: flex-start;
    margin-inline-start: 80px;
    margin-block-start: 30px;
}

.movies-container {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    width: 240px;
    height: 361px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--border, #353843);
}

